/* Styles for the file upload box component */
.link-file-input::-webkit-file-upload-button {
  background: none;
  border: none;
  border-right: #ccc 1px solid;
  color: var(--bs-primary);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem;
}

/* Firefox and modern browsers */
.link-file-input::file-selector-button {
  background: none;
  border: none;
  border-right: #ccc 1px solid;
  color: var(--bs-primary);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem;
}


